@use 'heroes'

$padding: 5px

:root
  --health-bar-container-width: 200px
  --health-bar-width: calc(var(--health-bar-container-width) - 2 * #{$padding})

.health-bar-container
  margin-bottom: 20px
  box-sizing: border-box
  height: 20px
  width: var(--health-bar-container-width)
  padding: $padding
  background: #ddd
  border-radius: 5px
  position: relative

.health-bar
  background: #c54
  height: 10px
  position: absolute
  transition: width 0.5s
  transition-delay: heroes.$slash-hit-timing
  &.enemy
    right: $padding

.health-text
  position: absolute
  top: 4px
  z-index: 1
  font-size: 8px
  &.player
    right: 10px
  &.enemy
    left: 10px
