$group-distance: 450px

$idle-img: url('../spritesheets/idle.png')
$slash-img: url('../spritesheets/slash.png')
$hack-img: url('../spritesheets/hack.png')
$cast-img: url('../spritesheets/cast.png')

@keyframes idle
  from
    background-position: 0px
    background-image: $idle-img

  to
    background-position: -468px
    background-image: $idle-img

@keyframes left-slash
  from
    background-position: 0px
    background-image: $slash-img
    left: $group-distance

  to
    background-position: -780px
    background-image: $slash-img
    left: $group-distance

@keyframes right-slash
  from
    background-position: 0px
    background-image: $slash-img
    right: $group-distance

  to
    background-position: -780px
    background-image: $slash-img
    right: $group-distance

@keyframes left-hack
  from
    background-position: 0px
    background-image: $hack-img
    left: $group-distance

  to
    background-position: -936px
    background-image: $hack-img
    left: $group-distance


@keyframes right-hack
  from
    background-position: 0px
    background-image: $hack-img
    right: $group-distance

  to
    background-position: -936px
    background-image: $hack-img
    right: $group-distance


@keyframes cast
  from
    background-position: 0px
    background-image: $cast-img

  to
    background-position: -624px
    background-image: $cast-img
