:root {
  --health-bar-container-width: 200px;
  --health-bar-container-padding: 5px;
  --health-bar-width: calc(var(--health-bar-container-width) - 2 * var(--health-bar-container-padding));
}

.health-bar-container {
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 20px;
  padding: var(--health-bar-container-padding);
  background: #ddd;
  border-radius: 5px;
  position: relative;

  .health-bar {
    background: green;
  }
}

.health-text {
  position: absolute;
  top: 0;
  z-index: 1;
  color: white;
  transition:
}

.health-bar {
  /* background: #c54; */
  height: 10px;
  position: relative;
  transition: width 0.5s var(--slash-hit-timing);
}
