:root {
  --slash-duration: 0.75s;
  --slash-steps: 5;
  --slash-frametime: calc(var(--slash-duration) / var(--slash-steps));
  --slash-steps-until-hit: 2;
  --slash-hit-timing: calc(var(--slash-frametime) * var(--slash-steps-until-hit));
}

.slashing {
  animation: slash var(--slash-duration) steps(var(--slash-steps));
}

.idling {
  animation: idle 2s infinite steps(3);
}

.hero {
  image-rendering: crisp-edges;
  position: relative;
  height: 117px;
  width: 156px;
}

.enemy {
  transform: scaleX(-1);
  filter: invert(50%);
}
