.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.root {
  /* background: url("scifi-background.gif"); */
  /* background-size: cover; */
  /* height: 95vh; */
}

.text {
  font-family: 'VT323';
  /* color: white; */
}

.battle-sides {
  gap: 150px;
}
