.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("scifi-background.gif"); */
  background-size: cover;
  height: 95vh;
}

.grid {
  display: flex;
  gap: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  /* color: white; */
}
