.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("scifi-background.gif"); */
  background-size: cover;
  height: 95vh;
}

.grid {
  display: flex;
  gap: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  /* color: white; */
}

.slashing {
  animation: slash 0.5s steps(5);
}

.idling {
  animation: idle 1s steps(3) infinite;
}

.hero {
  height: 117px;
  width: 156px;
}

.enemy {
  transform: scaleX(-1);
  filter: invert(50%);
}

.player {
}

@keyframes slash {
  from {
    background: url("slash.png");
    background-position: 0px;
  }

  to {
    background: url("slash.png");
    background-position: 780px;
  }
}

@keyframes cast {
  from {
    background: url("cast.png");
    background-position: 0px;
  }

  to {
    background: url("cast.png");
    background-position: 624px;
  }
}

@keyframes idle {
  from {
    background: url("idle.png");
    background-position: 0px;
  }

  to {
    background: url("idle.png");
    background-position: 468px;
  }
}

.pixel {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'VT323';
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active {
  top: 2px;
}

.pixel {
  line-height: 0;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  border-style: solid;
  border-width: 20px;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 150px;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  background: #000000;
  background:
    linear-gradient(135deg, transparent 10px, #000000 0) top left,
    linear-gradient(225deg, transparent 10px, #000000 0) top right,
    linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
    linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image:
    radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px),
    radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}
